# Database
DB_HOST=localhost
DB_PORT=3306
DB_NAME=mykenko
DB_USER=root
DB_PASS=

# LINE Notify
LINE_TOKEN=

# Slack
SLACK_WEBHOOK_URL=

# Crawler settings
CHROMIUM_PATH=
REQUEST_DELAY_MIN=1000
REQUEST_DELAY_MAX=3000
MAX_REQUESTS_PER_CRAWL=500
